<!DOCTYPE html>
<html lang="en">
    <head>
        {% if title %}
            <title>{{title}}</title>
        {% else %}
            <title>Default</title>
        {% endif %}

        <link rel="stylesheet" href="/css/main.css">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:type" content="website">
        <meta property="og:title" content="yy">
        <meta property="og:site_name" content="yyy">
        <meta property="og:description" content="teset">
        <meta property="og:url" content="https://afellowu.neocities.org/">
        {#<meta property="og:image" content="IMAGE">#}
    </head>
    <body>
        <header>
            <details>
                <summary>Navigation</summary>
                {% include "partials/nav.html" %}
                <div id="overlay"></div>
            </details>
        </header>
        <div class="flex">
            <aside id="left">
                {% include "partials/nav.html" %}
            </aside>
            <main>
                {{ content | safe }}
            </main>
            <aside id="right"></aside>
        </div>
    </body>
</html>