.blog {
    text-decoration: none !important;
    color: var(--text-color);

    &:last-child article {
        margin-bottom: 0;
    }
    
    article {
        margin-bottom: 0.5rem;
    }

    h2 {
        margin-top: 0;
    }

    p {
        border-bottom: 1px var(--border-color) solid;
        margin-bottom: 0.7em;
    }
}