@font-face {
    font-family: "AHN-Regular";
    src: url(/assets/fonts/AtkinsonHyperlegibleNext-Regular.otf) format("opentype");
}

:root {
    --base-color: #191c23;
    --border-color: hsl(from var(--base-color) h 20% 35%);
    --box-color: hsl(from var(--border-color) h s 18%);
    --text-color: hsl(from var(--base-color) h 110% 95%);
}

* {
    box-sizing: border-box;
}

body {
    background: var(--base-color);
    color: var(--text-color);
    font-family: "AHN-Regular";
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 620px;
    gap: 0.5rem;
}

article,
footer,
nav {
    border: 1px var(--border-color) solid;
    background: var(--box-color);
    padding: 8px;

    h1, h2, h3 {
        border-bottom: 1px var(--border-color) solid;
    }
}

nav {
    position: sticky;
    top: 8px;

    details & {
        border-top: 0;
        width: 160px;
        position: absolute;
        top: 44px;
        left: 0;
    }

    a {
        display: block;
        margin-top: 0.5em;
    }
}

header {
    border-bottom: 1px var(--border-color) solid;
    background: var(--box-color);
    padding: 8px;
    display: none;
    position: sticky;
    top: 0;
    z-index: 1;

    summary::marker {
        content: '☰ ';
    }
}

h1, h2, h3 {
    margin-top: 0.3em;
    margin-bottom: 0.2em;
}

p {
    margin: 0.7em 0;
    line-height: 1.5em;

    &:last-of-type {
        margin-bottom: 0;
    }
}

a,
header summary {
    text-decoration: none;
    color: hsl(from var(--text-color) calc(h - 70) 1000% l);

    &[aria-current=page] {
        font-weight: bolder;
        color: hsl(from var(--text-color) calc(h - 80) 1000% l);
    }

    &:hover {
        text-decoration: underline;
    }
}

aside {
    width: 160px;

    nav, article {
        margin-bottom: 0.5rem;

        &:last-child {
            margin: 0;
        }
    }
}

section {
    display: flex;
    gap: 0.5rem;

    article {
        flex: 1;
    }
}

#right {
    @media (width <= 990px) {
        display: none;
    }
}

#overlay {
    backdrop-filter: blur(5px) brightness(150%) saturate(110%);
    position: absolute;
    top: 44px;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.flex {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin: 8px;
}

@media (width <= 770px) {
    #left {
        display: none;
    }

    header {
        display: block;
    }
}