@font-face {
    font-family: "ANHR";
    src: url(/assets/fonts/AtkinsonHyperlegibleNext-Regular.otf) format("opentype");
}

:root {
    --base-color: #191c23;
    --border-color: hsl(from var(--base-color) h 20% 35%);
    --text-color: hsl(from var(--base-color) h 110% 95%);
}

* {
    box-sizing: border-box;
}

body {
    background: var(--base-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    font-family: "ANHR";
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 720px;
    gap: 0.5rem;
}

aside {
    width: 150px;
    margin-right: 0.5rem;
    
    section {
        top: 8px;
        position: sticky;
    }

    p {
        margin: 0.3em 0;
    }

    article {
        margin-bottom: 0.5rem;
    }
}

article,
footer {
    border: 1px var(--border-color) solid;
    backdrop-filter: blur(5px) brightness(150%) saturate(110%);
    padding: 8px;
}

h1, h2, h3 {
    margin-top: 0.3em;
    margin-bottom: 0.2em;
}

.container {
    display: flex;
    gap: 0.5rem;

    article {
        flex: 1;
    }
}