@font-face {
    font-family: "ANHR";
    src: url(/assets/fonts/AtkinsonHyperlegibleNext-Regular.otf) format("opentype");
}

:root {
    --base-color: #171c26;
    --border-color: hsl(from var(--base-color) h 25% 50%);
    --text-color: hsl(from var(--base-color) h 100% 95%);
}

* {
    box-sizing: border-box;
}

body {
    background: var(--base-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    font-family: "ANHR";
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 700px;
    gap: 0.5rem;
}

aside {
    width: 150px;
    margin-right: 0.5rem;
    
    article {
        top: 8px;
        position: sticky;
    }

    p {
        margin: 0.3em 0;
    }
}

h1, h2 {
    margin-top: 0.5em;
}

article,
footer {
    border: 1px var(--border-color) solid;
    backdrop-filter: blur(5px) brightness(120%) saturate(95%);
    padding: 10px;
}

section {
    display: flex;
    gap: 0.5rem;

    article {
        flex: 1;
    }
}

#box {
    margin: 8px;
}