* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    flex-direction: column;
    gap: 0.5rem;
}

nav {
    top: 0;
    position: sticky;
    padding: 8px;
    border-bottom: 2px black solid;
    background-color: #fff;
    display: flex;
    gap: 4px;
    
    @media (width >= 1450px) {
        justify-content: center;
    }
}

article {
    padding: 10px;
}

article {
    border: 2px black solid;
    background: #fff;
}

section {
    display: flex;
    gap: 0.5rem;

    article {
        flex: 1;
    }
}

#box {
    margin: 8px;
}