@font-face {
    font-family: "ANHR";
    src: url(/assets/fonts/AtkinsonHyperlegibleNext-Regular.otf) format("opentype");
}

* {
    box-sizing: border-box;
}

body {
    background: #171c26;
    color: #fff;
    margin: 0;
    font-family: "ANHR";
}

main {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    flex-direction: column;
    gap: 0.5rem;
}

nav {
    top: 0;
    position: sticky;
    padding: 8px;
    background: #171c26;
    border-bottom: 1px #fff solid;
    display: flex;
    gap: 4px;
    
    @media (width >= 1000px) {
        justify-content: center;
    }
}

article,
footer {
    border: 1px #fff solid;
    background: #171c26;
    padding: 10px;
}

section {
    display: flex;
    gap: 0.5rem;

    article {
        flex: 1;
    }
}

#box {
    margin: 8px;
}