* {
    box-sizing: border-box;
}

main {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    flex-direction: column;
    gap: 0.5rem;
}

nav {
    top: 8px;
    position: sticky;
    margin-bottom: 0.5rem;
}

article {
    padding: 10px;
}

article {
    border: 2px black solid;
    border-radius: 10px;
    background: #fff;
}

section {
    display: flex;
    gap: 0.5rem;

    article {
        flex: 1;
    }
}