<nav>
    <h2>Table of Contents</h2>

    <a href="/">Home</a>
    <a href="/blog" aria-current="page">Blog</a>
    <ul>
        {% if collections.blogs %}
            {% for table in collections.blogs %}
                {% if page.url == table.url %}
                    {% for content in table.data.contents %}
                        <a href="#{{ content  | lower | slugify }}">{{ content }}</a>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </ul>
</nav>